* {
    margin:0; /*Margem de 0 para todos lados*/
    padding: 0; /*Padding de 0 para todos lados*/
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*Diminuida a proporção da fonte*/
    scroll-behavior: smooth; /*Mudança suave entre seções*/
}

body {
    font-family: 'Oswald', sans-serif; /*Fonte usada*/
    font-size: 1.6rem; /*16px*/
    color: var(--primary-color);
    line-height: 1.5; /*Espaço entre linhas*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase; /*Todas maiusculas*/
}
h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;

}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4.5rem;
}
h5 {
    font-size: 4rem;
}
h6 {
    font-size: 2.5rem;
}

a {
    text-decoration: none; /*Retirando o sublinhado*/
}