.menu {
    position: fixed; /*Fixada ao topo*/
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
    z-index: 1;/*Sobre os itens da página*/
}

.menu-content {
    display: flex; /*Itens enfileirados*/
    justify-content: space-between; /*Espaço entre eles*/
    align-items: center; /*Alinhados ao centro*/
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.menu h1 {
    font-size: 4rem; /*diminuir a fonte um pouco mais */
    color: var(--white-color); /*Cor da fonte*/
    margin-left: 6rem;
}

.menu h1 a {
    color: inherit; /*herdando a cor branca da classe pai*/
}

.menu ul {
    list-style: none; /*tirar a marcação de cada item*/
    display: flex; /*deixar os itens lado a lado*/
    
}

.menu ul li a {
    display: block; /*Block para poder configurar os blocks*/
    padding: 2rem; /* Afastar os itens */
    font-size: 2.5rem;
    color: var(--white-color);
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem; /*Alinha abaixo do texto*/
    left: 25%; /*Posição da linha*/
    width: 0;  /*Linha zerada*/
    height: 0.3rem; /*Espessura da linha*/
    background: var(--secondary-color);
    transition: all 300ms ease-in-out; /*Transição*/
}

.menu ul li a:hover::after {
    width: 50%; /*Linha aumenta 50% ao passar em cima*/
}