.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1,5fr;
    gap: var(--gapping);
    min-height: 100vh;
}

.text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gapping);
    counter-reset: grid-counter;
    align-items: center;   
}

.grid h3 {
    text-align: center;
    padding-bottom: 1rem;
    line-height: 1.2;
    color: var(--secondary-color);
    
}

.grid p {
    font-size: 2.2rem;
    line-height: 1.7;
    text-align: justify;
}

.my-img {
    justify-self: center;
}

.my-img img{
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 0.5rem;
    width:30rem;
}

.my-img img:hover {
    box-shadow: 0 0 2px 1px rgba(255, 124, 2, 0.707);
}

.social-icons {
    position: relative;
    justify-self: center;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 3rem;
  margin-right: 3rem;
  
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #bd5d38;
}

.comp-icon {
    font-size: 2rem;
    margin-right: 1rem;
}

@media (max-width: 900px) {
    h3 {
        font-size: 4rem;
    }
    h4 {
        font-size: 3.5rem;
    }

    h5 {
        font-size: 3rem;
    }

    h6 {
        font-size: 2rem;
    }
    
    .intro-content, .grid {
        display: block;
        padding-top: 12rem;
    }

    .social-icons .social-icon {
        height: 6rem;
        width: 6rem;
        font-size: 2.2rem;
        margin-right: 2.2rem;   
    }

    .menu-content {
        display:block;

    }

    .menu h1 {
        font-size: 2.8rem; /*diminuir a fonte um pouco mais */
        margin-left: 0;
        text-align: center;
    }

    .menu ul {
        align-items: center;
        justify-content: center;
    }

    .menu ul li a {
        padding: 1rem; /* Afastar os itens */
        font-size: 1.7rem;
    }
    
    .main-content {
        max-width: 120rem;
        margin: 0 auto;
        padding: 1rem 1rem;
    }

    .menu ul li a::after{
        bottom: 0.5rem;
        height: 0.2rem;
    }

    .menu-atr {
        align-items: center;
    }

    .menu-spacing {
        height: 5rem; 
    }

    .my-img {
        margin: 2rem 3rem;
    }

    section div div article {
        padding-top: 1rem;
    }

    
    

   



    
}